.header{
    background-color: darkslategrey;
    padding-left: 140px;
    padding-right: 140px;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header img{
    width: 90px;
    height: 70px;
}

.menu a{
    text-decoration: none;
    color: #fff;
    font-size: 17px;
    margin-right: 20px;
}

.menu a:hover{
    color: orange;
}